# Banco de Dados
DATABASE_URL=postgresql://user:password@localhost:5432/otp_auth_db

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Email (Mailtrap)
MAILTRAP_TOKEN=seu_token_mailtrap_aqui
MAILTRAP_SENDER_EMAIL=seu_email_mailtrap@example.com

# Servidor
PORT=3000
NODE_ENV=development
